 <div class="row">
    <h1>Display Data Of Student</h1>
 </div>
  <div class="row">
    <div class="">
        <table border="1">
            <thead>
                <tr>
                    <th>name</th>
                    <th>email</th>
                    <th>phoneNo</th>
                    <th>bookingType</th>
                    <th>carCompany</th>
                    <th>carModel</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>pickup</th>
                    <th>drop</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of Data">
                    <td>{{ booking.name }}</td>
                    <td>{{ booking.email }}</td>
                    <td>{{ booking.phoneNo }}</td>
                    <td>{{booking.bookingType}}</td>
                    <td>{{booking.carCompany}}</td>
                    <td>{{booking.carModel}}</td>
                    <td>{{booking.date}}</td>
                    <td>{{booking.timr}}</td>
                    <td>{{booking.pickup}}</td>
                    <td>{{booking.drop}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        
    </div>
  </div>
